* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  font-size: 12px;
}
ul {
  list-style: none;
}
li,
a {
  padding-bottom: 10px;
  font-weight: 600;
  color: #7F8C8D;
}
a:hover {
  text-decoration: none;
  color: #FFF;
}
.visible_lg {
  visibility: visible;
}
.visible_xs {
  display: none;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
/* main */
.all_main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}

/* nav */
.navbar_main {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #000;
}

/* nav_logo */
.nav_logo img {
  width: 85%;
  height: 70px;
  padding: 15px;
}

/* nav_home */
.nav_home {
  padding: 20px 20px 0;
}
.nav_home ul:not(last child) li {
  margin-bottom: 15px;
}
.nav_home ul li img {
  width: 22px;
  margin-right: 15px;
}
.nav_home ul li:first-child  a {
  vertical-align: middle;
  color: #fff;
}

/* nav_playlist */
.nav_playlist {
  padding: 0 20px;
}
.nav_playlist h5 {
  text-transform: uppercase;
  color: #7F8C8D;
}
.aggiungi {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  color: #7F8C8D;
}
.aggiungi:hover {
  cursor: pointer;
  color: #FFF;
}
.aggiungi i {
  font-size: 30px;
  margin-right: 15px;
}
.playlist_ul {
  flex-grow: 2;
  padding: 0 20px;
  min-height: 180px;
  overflow-y: auto;
}

/* nav_bottom */
.nav_bottom {
  padding: 10px 20px;
  color: #7F8C8D;
}
.bottom_nav_top i {
  font-size: 20px;
  margin-right: 10px;
}
.bottom_nav_top {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #7F8C8D;
}
.bottom_nav_top:hover,
.bottom_nav_bottom:hover {
  cursor: pointer;
  color: #fff;
}
.bottom_nav_bottom {
  display: flex;
  align-items: center;
  margin: 10px 10px 0 0;
}
.profile_icon {
  display: inline-block;
  margin-right: 15px;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 50px;
  background-image: url(../img/profile.svg);
  background-position: center;
  background-color: #7F8C8D;
}
.bottom_nav_bottom span {
  font-weight: 700;
  color: #fff;
  transition: 0.01s;
}
.bottom_nav_bottom span:hover {
  transform: scale(1.05);
}

/* nav_xs */
.nav_xs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.xs_nav_top {
  width: 100%;
  margin-top: 10px;
}
.xs_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
.xs_nav_top img{
  width: 60%;
  margin-bottom: 10px;
}

.xs_nav img:hover,
.nav_xs_bottom i:hover,
.profile_icon{
  cursor: pointer;
}
.nav_xs_bottom {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.nav_xs_bottom i {
  display: inline-block;
}
/* content main */
.content_main {
  width: calc(100% - 200px);
  height: 100%;
  padding: 90px 20px 20px;
  background-color: lightgreen;
  overflow-y: scroll;
}
.call_to {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 70px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}
.upgrade {
  margin-left: 300px;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.01s;
}
.upgrade:hover {
  transform: scale(1.08);
}

/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: lightyellow;
}











/* query */
@media screen and (max-width: 780px) {
  .navbar_main {
    width: 50px;
    align-items: center;
    padding-top: 10px;
  }
  .visible_lg {
    display: none;
  }
  .visible_xs {
    display: contents;
  }
  .profile_icon {
    margin: 10px 0;
  }
  .call_to,
  .content_main {
    width: calc(100% - 50px);
  }
}
